/* Base Styles */

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

/*** Header Styles ***/

.header {
  background: url('../img/background.png');
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header li {
  list-style: none;
}

.header li a {
  font-size: 18px;
  color: white;
}
