/*** Base Styles ***/

body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

/*** Header Styles ***/

.header {
  background: url('../img/background.png');
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header p a {
  font-size: 18px;
  color: white;
}

/*** Mid Banner styles ***/

.mid-banner {
  background: url('../img/background.png');
}

.mid-banner h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

/*** Footer styles ***/

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer p a {
  color: white;
}

.footer span {
  color: white;
  font-size: 11px;
}
